/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #FFC5C5; /* Fondo de color rosa */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .declaracion {
    text-align: center;
  }
  
  .gif-amor {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  
  .opciones {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .opcion {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .opcion:hover {
    background-color: #23527c;
  }
  
  #si {
    background-color: #34c759;
  }
  
  #no {
    background-color: #e74c3c;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }